<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Rock | Paper | Scissors</title>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.2.3/css/foundation.min.css">
    <script type="text/javascript" src="http://cdn.jsdelivr.net/jquery/2.0.3/jquery-2.0.3.js"></script>

    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.3.0/js/foundation.min.js"></script>
    <link rel="stylesheet" href="../css/style.css" type="text/css" />
    <style type="text/css">
      /** {
        border: 1px solid red;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }*/
      /* You will put the rest of the styles here */
    </style>
  </head>
  <body>
    <header class="row">
        <%#= erb :_header %>   
        <form method='post' action='/signout'>
          <input type='submit' class="button" value='Logout'>
        </form>
    </header>
    <div class="row">
      
        <%= yield %>
      
    </div>
    <footer class="row">
        <%#= erb :_footer %>
    </footer>
    <script>$(document).foundation();</script>
  </body>
</html>