<!DOCTYPE html>
<html>
<head>
  <title>Sign in</title>
</head>
<body>

<!-- <div class='main'>
  <ul class="tabs" data-tab>
    <li class="tab-title active"><a href="#panel2-1">Tab 1</a></li>
    <li class="tab-title"><a href="#panel2-2">Tab 2</a></li>
  </ul>

  <div class="tabs-content">
    <div class="content active" id="panel2-1">
      <p>First panel content goes here...</p>
    </div>

    <div class="content" id="panel2-2">
      <p>Second panel content goes here...</p>
    </div>
  </div>
</div> -->





<div class='main'>
  <ul class="tabs" data-tab>
    <li class="tab-title active"><a href="#sign_in">Sign In</a></li>
    <li class="tab-title"><a href="#sign_up">Sign Up</a></li>
  </ul>

  <div class = 'tabs-content'>

    
    <div  class="content active" id='sign_in'> 
      
        
        <form method="post" action="/sign_in">
          
            <div>
              <label for="name">Name:</label>
              <input type="text" name="name" />
            </div>
          
            <div>
              <label for="password">Password:</label>
              <input type="password" name="password" />
            </div>
          
            <div>
              <input type="submit" class="button" value="Sign In">
            </div>

          </form>

      </div>
          
      <div  class="content" id='sign_up'>
      
        
        <form method="post" action="/sign_up">
          
            <div>
              <label for="name">Name:</label>
              <input type="text" name="name" />
            </div>
          
            <div>
              <label for="password">Password:</label>
              <input type="password" name="password" />
            </div>

            <div>
              <label for="password">Verify Password:</label>
              <input type="password" name="password_verify" />
            </div>
          
            <div>
              <input type="submit" class="button" value="Sign Up">
            </div>

          </form>

      </div>

  </div>
</div>      
  </body>
</html>