<div id='title' class='play_head' > 
  <h1>Hello User <%= @name %> </h1>

</div>

<div id = 'stats' class='play_head'>

  <span id='wins' class = 'stats_block'>
    
    <img src="http://placekitten.com/100/50" />

  </span>

  <span id = 'loses' class = 'stats_block'>
    <img src="http://placekitten.com/100/50" />
  </span>

</div> 


<div class = 'main_play'>
  
  <div id = 'select_match' class = 'play_block'>

    <img src="http://placekitten.com/300/300" />
  </div > 


  <div id = 'play_match' class = 'play_block'>

    <img src="http://placekitten.com/300/300" />
  </div>   


</div>







<!-- <form method='post' action='/signout'>
    <input type='submit' class="button" value='Logout'>
</form> -->